.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 400px;
}
#myCarousel{
    width: 100%;

}

.alert {
    padding: 20px;
    background-color: #d9534f; /* Red */
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.errBox-hide {
    visibility:hidden;
}
.errBox-show {
    visibility:visible;
}

.btn-fb {
    background: #3b5998 !important;
    border-color: #3b5998 !important;
    color: #fff !important;
}

.btn-fb:after {
    background: #4e70b7;
}