<md-card class="md-default-theme">

    <div class="md-toolbar-tools">
        <h2>
            <span>Order Details</span>
        </h2>
        <span flex></span>
        <md-button type="submit" class="md-raised md-warn"
                   ui-sref="Paypal">
            Back
        </md-button>
        <span></span>
        <!--buttons-->

    </div>
    <div layout="row">
        <md-card class="md-default-theme md-whiteframe-5dp" flex>
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <h3>Order Information</h3>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="projectForm" class="form-horizontal">
                    <md-input-container class="md-block" ng-if="currentOrder.CartProducts.length>0">
                        <label>Total products bought</label>
                        <input type="number" ng-model="total" ng-disabled="true"/>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="currentOrder.CartProducts.length==0">
                        <label>Total products bought</label>
                        <input type="number" ng-model="currentOrder.Quantity " ng-disabled="true"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Order Total</label>
                        <input type="number" ng-model="currentOrder.Total " ng-disabled="true"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Date Created</label>
                        <input type="date" ng-disabled="true" ng-model="currentOrder.DateCreated"/>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="currentOrder.Completed==true">
                        <label>Date Completed</label>
                        <input type="date" ng-disabled="true" ng-model="currentOrder.DateCompleted"/>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="currentOrder.Completed==false">
                        <label>Order not completed</label>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="currentOrder.Confirmed==true">
                        <label>Date Confirmed</label>
                        <input type="date" ng-disabled="true" ng-model="currentOrder.DateConfirmed"/>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="currentOrder.Confirmed==false">
                        <label>Order not confirmed</label>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </div>
    </div>
</md-card>

