<md-card class="md-default-theme">
    <div class="md-toolbar-tools">
        <span flex></span>
    </div>
    <md-card-content>
        <div flex>
            <md-table-container>
                <table md-table align="center">
                    <thead md-head>
                    <tr md-row>
                        <th md-column>ID</th>
                        <th md-column>Types of products bought</th>
                        <th md-column>Order Total</th>
                        <th md-column>Date Created</th>
                        <th md-column>Date Completed</th>
                        <th md-column>Date Confirmed</th>
                    </tr>
                    </thead>
                    <tbody class="md-body-1">
                    <tr md-row ng-repeat="order in Orders" style="line-height: 30px"
                        ng-click="goToDetails(order)">
                        <td md-cell>
                            {{order._id}}
                        </td>

                        <td md-cell ng-if="order.CartProducts.length==0">
                            {{order.Quantity}}
                        </td>
                        <td md-cell ng-if="order.CartProducts.length>0">
                            {{order.CartProducts.length}}
                        </td>
                        <td md-cell>
                            {{order.Total}}
                        </td>
                        <td md-cell>
                            {{order.DateCreated | date : "dd.MM.y"}}
                        </td>
                        <td md-cell>
                            {{order.DateCompleted | date : "dd.MM.y"}}
                        </td>
                        <td md-cell>
                            {{order.DateConfirmed | date : "dd.MM.y"}}
                        </td>

                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card-content>
</md-card>

