<a class="btn btn-block btn-lg btn-fb m0" ng-click="FBLogin()"><span><small>Register / Login via</small>&nbsp;Facebook</span></a>
<h3 class="text-center">Or</h3>
<form name="loginForm">
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="email"></md-icon>
        <input ng-model="User.Email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_lock_black_24px.svg" class="email"></md-icon>
        <input ng-model="User.Password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>
</form>
<div class="alert" ng-class="ErrClass">
    <span class="closebtn" ng-click="toggleErrorMsg()">&times;</span>
    <p>{{ErrorMsg}}</p>
</div>
<md-button class="btn btn-block btn-lg md-raised md-primary pull-right" ng-disabled="!loginForm.$valid"
           ng-click="loginUser()">Login
</md-button>

<br/>
<br/>
<md-button class="btn btn-block btn-lg md-raised md-primary pull-right" ui-sref="Register">Register</md-button>
