<form name="registerForm">
    <div layout="row">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>First Name</label>
            <md-icon md-svg-src="../imgs/ic_account_circle_black_24px.svg" class="name"></md-icon>
            <input ng-model="User.FirstName" type="text" ng-required="true">
        </md-input-container>
        <span flex="5"></span>
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Last Name</label>
            <input ng-model="User.LastName" type="text" ng-required="true">
        </md-input-container>
    </div>

    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="email"></md-icon>
        <input ng-model="User.Email" type="email" placeholder="Email" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_lock_black_24px.svg" class="password"></md-icon>
        <input ng-model="User.Password" type="password" placeholder="Password" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="confirmpassword"></md-icon>
        <input ng-model="confirmed" type="password" placeholder="Confirm Password" ng-required="true">
    </md-input-container>

    <div layout="row">
        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="../imgs/ic_contact_phone_black_24px.svg" class="country"></md-icon>
            <!--<input ng-model="User.Country" type="text" placeholder="Contry" ng-required="false">-->
            <md-select aria-label="Category" ng-model="User.Country" >
                <md-option ng-repeat="(key,value) in Countries" ng-value="key" >
                    {{value}}
                </md-option>
                <!--<md-option value="axe">Axe</md-option>-->
                <!--<md-option value="sword">Sword</md-option>-->
                <!--<md-option value="wand">Wand</md-option>-->
                <!--<md-option value="pen">Pen</md-option>-->
            </md-select>
        </md-input-container>
        <span flex="5"></span>
        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <!--<md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="city"></md-icon>-->
            <input ng-model="User.City" type="text" placeholder="City" ng-required="false">
        </md-input-container>
        <span flex="5"></span>

        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <!--<md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="street"></md-icon>-->
            <input ng-model="User.Street" type="text" placeholder="Street" ng-required="false">
        </md-input-container>
        <span flex="5"></span>

        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <!--<md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="street"></md-icon>-->
            <input ng-model="User.ZipCode" type="text" placeholder="Zip Code" ng-required="false">
        </md-input-container>
    </div>
</form>
<div class="alert" ng-class="ErrClass">
    <span class="closebtn" ng-click="toggleErrorMsg()">&times;</span>
    <p>{{ErrorMsg}}</p>
</div>
<md-button class="btn btn-block btn-lg md-raised md-primary" ng-disabled="!registerForm.$valid" ng-click="registerUser()">
    Register
</md-button>