<form name="registerForm">
    <div layout="row">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>First Name</label>
            <md-icon md-svg-src="../imgs/ic_account_circle_black_24px.svg" class="name"></md-icon>
            <input ng-model="User.FirstName" type="text" ng-required="true">
        </md-input-container>
        <span flex="5"></span>
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Last Name</label>
            <input ng-model="User.LastName" type="text" ng-required="true">
        </md-input-container>
    </div>

    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="email"></md-icon>
        <input ng-model="User.Email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_lock_black_24px.svg" class="email"></md-icon>
        <input ng-model="User.Password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="email"></md-icon>
        <input ng-model="confirmed" type="password" placeholder="Confirm Password (required)" ng-required="true">
    </md-input-container>
</form>
<p ng-if="!(confirmed==User.Password)">Passwords does not match!</p>
<p class="error" ng-if="ErrorMsg.length > 0">{{ErrorMsg}}</p>
<md-button class="md-raised md-primary pull-right" ng-disabled="!registerForm.$valid && " ng-click="registerUser()">
    Register
</md-button>

