<md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Name</label>
        <md-icon md-svg-src="../imgs/ic_account_circle_black_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="email"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_lock_black_24px.svg" class="email"></md-icon>
        <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="../imgs/ic_email_black_24px.svg" class="email"></md-icon>
        <input ng-model="confirmed" type="password" placeholder="Confirm Password (required)" ng-required="true">
        <p ng-if="!(confirmed==user.password)">Passwords does not match!</p>
    </md-input-container>
    <md-button class="md-raised md-primary pull-right" ng-click="registerUser()">Register</md-button>


</md-content>