<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!--BOWER COMPONENTS-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-material/angular-material-mocks.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>

    <!--SCRIPTS-->
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>

    <!--CONTROLLERS-->
    <script src="scripts/controller-Main.js"></script>
    <script src="scripts/controllers/controller-Login/controller-Login.js"></script>
    <script src="scripts/controllers/controller-Register/controller-Register.js"></script>
    <script src="scripts/controllers/controller-Categories/controller-Categories.js"></script>
    <!--<script src="scripts/controllers/controller-Products/controller-Products.js"></script>-->

    <!--FACTORIES/SERVICES/DIRECTIVES-->
    <script src="scripts/directives/navigation-menu.js"></script>
    <!--<script src="scripts/directives/category-menu.js"></script>-->
    <!--<script src="scripts/directives/products.js"></script>-->
    <script src="scripts/services/User/User-factory.js"></script>
    <script src="scripts/services/User/User-service.js"></script>
    <script src="scripts/services/Product/Product-factory.js"></script>
    <script src="scripts/services/Product/Product-service.js"></script>
    <script src="scripts/services/Category/Category-factory.js"></script>
    <script src="scripts/services/Category/Category-service.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/angular-carousel/dist/angular-carousel.min.css" rel="stylesheet"/>


</head>
<body ng-app="clientApp" ng-controller="MainCtrl">
<navigation-menu></navigation-menu>

<div class="page-header">
    <div class="container">
        <h1><span class="glyphicon glyphicon-barcode"></span> OStore
            <small>Buy cheap shit</small>
        </h1>
    </div>
</div>
<div class="container">
    <!-- Todo: move button to products page-->
    <!--<category-menu class="pull-right"></category-menu>-->
    <div class="row">

        <!--<ul rn-carousel class="image">-->
            <!--<li ng-repeat="image in images">-->
                <!--<div class="layer">{{ image }}</div>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul rn-carousel rn-carousel-index="3" rn-carousel-auto-slide="3" style="overflow: visible; !important;">-->
        <!--&lt;!&ndash;<li></li>&ndash;&gt;-->
        <!--<li ng-repeat="n in [1,2,3,4,5,6] track by $index">-->
            <!--<div style="width: 300px; height: 250px;" ng-style="{'background-image': 'url(' + 'http://localhost:3040/emt_imgs/Bikes/Bike' + n +'.jpg '+ ')'}"-->
                 <!--class="bgimage">-->
                <!--#{{$index}}-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
    </div>
    <div ui-view=""></div>

</div>


<!--<div class="container">-->

<!--</div>-->
</body>
</html>