<div class="content contact-main backgroundImage">
    <!----start-contact---->
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.682863085386!2d21.475361065009814!3d41.985618329213786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13543e20e5fb974d%3A0xa7180212f0dca54!2s32%2C+Skopje+1000!5e0!3m2!1sen!2smk!4v1485026419119"
                width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                style="border:0" allowfullscreen></iframe>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="changeFont text-justify">OStore is online start-up company whic main goal is to become market
                    leader
                    by offering the customers big quality for the products and services.
                    OStore offers Bussiness to Customer (B2C)
                    solution for online finding of physical and long-term products.
                    The company is located in Skopje, Republic of Macedonia, and its equally owned by three
                    partners: </p>

                <ul class="changeFont" style="list-style-type:circle">
                    <li> Angel Filov</li>
                    <li>Dzoko Trajkov</li>
                    <li>Stojan Stamkov</li>
                </ul>
            </div>
            <div class="col-md-4">
                <form class="changeFont">
                    <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                    <address>
                        <strong>OStore, Inc.</strong><br>
                        Bulevard Asnom<br>
                        Skopje, 1000<br>
                        <abbr title="Phone">
                            P:</abbr>
                        078/xxx-xxx
                    </address>
                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:#">finkistore121@gmail.com</a>
                    </address>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address</label>

                                    <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                                               required="required"/></div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Subject</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="service">General Customer Service</option>
                                        <option value="suggestions">Suggestions</option>
                                        <option value="product">Product Support</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                      required="required"
                                      placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!----//End-contact---->
</div>