<div class="jumbotron text-center" style="background: inherit; !important;">
    <h1>Welcome to OStore</h1>

    <p>Best selling products in the world <span class="glyphicon glyphicon-globe"></span></p>

    <p><a ui-sref="Products">Go to Products</a> and start buying and wasting money</p>

    <p ng-if="!$root.isAuthenticated()">Make sure you are logged in before adding products or<br>register if you are a new customer
        <md-button class="md-raised md-primary" ng-click="goToLogin()">Sign in / Register</md-button>
    </p>
    <p ng-if="$root.isAuthenticated()">What are you doing here? Go buy some stuff.
    </p>


    <p><a class="btn btn-primary btn-sm" ui-sref="About_Us" role="button">Learn more</a> about us.</p>
</div>