<nav class="nav navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="Home" class="navbar-brand"><span class="glyphicon glyphicon-barcode"></span> OStore</a>
            <a ui-sref="Products" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Products</a>
            <a ui-sref="Shopping_Cart" class="navbar-brand"><span class=" glyphicon glyphicon-shopping-cart"></span>
                Shopping
                Cart</a>
            <a ui-sref="About_Us" class="navbar-brand"><span class="glyphicon glyphicon-list"></span> About us</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-right">
                <a ng-if="$root.isAuthenticated() == false" ui-sref="Login" class="navbar-brand pull-right"
                   style="display: inline;">Login / Register</a>
                <a ng-if="$root.isAuthenticated() == true" ng-click="$root.Logout()" class="navbar-brand pull-right"
                   style="display: inline;">Logout</a>
            </form>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>