<div class="container">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-4">

                    <div class="tab-content">
                        <div class="tab-pane active" id="pic-1"><img width="320" height="250" ng-src="{{currentProduct.ImageURL}}" /></div>
                    </div>

                </div>
                <div class="col-md-6">
                    <p class="h3">{{currentProduct.Name}}</p>
                    <p class="product-description">{{currentProduct.Description}}</p>
                    <p class="h4">Current price: <span>{{currentProduct.Price}} $</span></p>
                    <div class="action">
                        <md-button
                    </div>
                </div>
            </div>
        </div>
</div>
