<div layout="row" class="scrollmenu">
    <md-nav-bar md-selected-nav-item="allproducts" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="getAllProducts()" name="allproducts">All products</md-nav-item>
        <md-nav-item md-nav-click="renderProductsByCategory(category)" ng-repeat="category in Categories"
                     ng-value="category._id">
            {{category.Name}}
        </md-nav-item>
    </md-nav-bar>
</div><br>
<div layout="row">
    <div class="col-lg-12">
        <md-list-item class="col-lg-3 col-md-3 col-xs-3 col-xs-offset-1 col-md-offset-1 well well-sm"
                      ng-repeat="product in Products">
            <div>
                <div class="thumbnail">
                    <img ng-src={{product.ImageURL}}>
                </div>
                <h3><b>{{product.Name}}</b></h3>

                <p class="details">
                    {{product.Description.slice(0,30)}}...
                </p>
                <h4 class="pull-left"><b>Price:</b> <span class="label label-success">$ {{product.Price}}</span></h4>
                <md-button class="md-raised md-primary pull-right" ng-click="goToDetails(product)">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
                </md-button>
            </div>
            <br> 
        </md-list-item>


    </div>
    <p class="h3" ng-if="Products.length==0">There are no products in this category yet.</p>

</div>