<div class="container">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-4">

                    <div class="tab-content">
                        <div class="tab-pane active" id="pic-1"><img width="320" height="250" ng-src="{{currentProduct.ImageURL}}" /></div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3 class="product-title">{{currentProduct.Name}}</h3>
                    <p class="product-description">{{currentProduct.Description}}</p>
                    <h4 class="price">Current price: <span>{{currentProduct.Price}} $</span></h4>

                    <div class="action">

                    </div>
                </div>
            </div>
        </div>
</div>
