<div class="row">
    <md-list layout="column" class="pull-right">
        <md-list-item>
            <md-button class="pull-right md-raised md-warn" ng-click="browseBy()">Browse by category...</md-button>
        </md-list-item>
    </md-list>
</div>
<md-list-item class="col-md-3 col-md-offset-1 well well-sm">
    <div>
        <div class="thumbnail">
            <img src="http://placehold.it/300x200"/>
        </div>
        <h4>{{product.Name}}</h4>

        <p class="details">
            {{product.Description}}
        </p>
        <h4 class="pull-right">{{product.Price}} $</h4><br><br>
        <section layout="row" class="text-right">
            <span flex="20"></span>
            <md-button class="md-raised md-primary">
                <span class="glyphicon glyphicon-plus" ng-click="addToCart()"></span> cart
            </md-button>
            <md-button class="md-raised md-warn">
                <span class="glyphicon glyphicon-plus" ng-click="addToWishlist()"></span> wishlist
            </md-button>
        </section>
    </div>
</md-list-item>

