<div class="container backgroundImage">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button type="button" aria-label="continue" class="btn btn-primary btn-sm btn-block"
                                        ng-click="continueShop()">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"><h4><b>Product</b></h4></div>
                        <div class="col-md-6">
                            <div class="col-lg-8">
                                <div class="col-lg-3"><h4><b>Qty</b></h4></div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"><h4><b>Price</b></h4></div>
                                <div class="col-lg-3"><h4><b>Total</b></h4></div>
                            </div>
                            <div class="col-lg-4">
                                Remove/Add to wishlist
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" ng-if="cartProduct.Wish == false" ng-repeat="cartProduct in cartProducts">
                        <div class="col-md-3 col-xs-2">
                            <img width="100px" height="70px" class="img-responsive"
                                 ng-src="{{cartProduct.Product.ImageURL}}">
                        </div>
                        <div class="col-md-3 col-xs-2">
                            <h4 class="product-name"><strong>{{cartProduct.Product.Name}}</strong></h4>
                            <h4>
                                <small>{{cartProduct.Product.Description.slice(0,40)}}...</small>
                            </h4>
                        </div>
                        <div class="col-md-6 col-xs-4">
                            <div class="col-lg-8 col-md-6 col-xs-2">
                                <div class="col-lg-3">
                                    <h4><b>{{cartProduct.Quantity}}</b></h4>
                                </div>
                                <div class="col-lg-3">
                                    <h4>x</h4>
                                </div>
                                <div class="col-lg-3">
                                    <h4>${{cartProduct.Product.Price}}.00</h4>
                                </div>
                                <div class="col-lg-3 text-right">
                                    <h4>${{cartProduct.Total}}.00</h4>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-2 text-right">
                                <button class="btn btn-danger btn-sm" aria-label="addWish"
                                        ng-click="removeFromShoppingCart(cartProduct)">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                </button> /
                                <button class="btn btn-primary btn-sm" aria-label="addCart"
                                        ng-click="addToWishList(cartProduct)">
                                    <span class="glyphicon glyphicon-arrow-down"> </span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <br>

                        <br>
                        <br>
                        <br>

                        <hr>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong>$ {{total}}</strong></h4>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success btn-block" aria-label="checkout"
                                    ng-click="checkout()">
                                Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--REVIEW ORDER-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span> Wishlist
                    <div class="pull-right">
                        <small><a class="afix-1" href="#">Edit Cart</a></small>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"><h5><b>Product Name</b></h5></div>
                        <div class="col-lg-6">
                            <div class="col-lg-8">
                                <div class="col-lg-4"><h5 class="text-right"><b>Qty</b></h5></div>
                                <div class="col-lg-4"></div>

                                <div class="col-lg-4"><h5 class="text-right"><b>Price</b></h5></div>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="text-right">Remove/Add to wishlist</h6>
                            </div>

                        </div>
                        <br>
                        <hr>
                    </div>
                    <div class="form-group" ng-if="cartProduct.Wish == true" ng-repeat="cartProduct in cartProducts">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-xs-3">
                                <img class="img-responsive" width="100px" height="70px"
                                     ng-src="{{cartProduct.Product.ImageURL}}"/>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-6">
                                <div class="col-lg-12 col-xs-12">{{cartProduct.Product.Name}}</div>
                            </div>
                            <div class="col-lg-6 col-sm-3 col-xs-3 text-right">
                                <div class="col-lg-8">
                                    <div class="col-lg-4">
                                        <h5>{{cartProduct.Quantity}}</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>x</h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>${{cartProduct.Product.Price}}.00</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-danger btn-sm" aria-label="test"
                                            ng-click="removeFromWishlist(cartProduct)">
                                        <span class="glyphicon glyphicon-trash"> </span>
                                    </button> /
                                    <button class="btn btn-primary btn-sm" aria-label="addCart"
                                            ng-click="addToShoppingCart(cartProduct)">
                                        <span class="glyphicon glyphicon-arrow-up"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>


                <br>
                <hr/>
                <br>
            </div>

        </div>
    </div>
</div>
</div>
</div>
